@model IEnumerable<Product>

@{
    ViewData["Title"] = "Produkty";
}
<center>
<h1>Produkty</h1>

<p>
    <a asp-action="Create" class="btn btn-primary shadow">Dodaj produkt</a>
</p>
</center>
<table class="table">
    <thead>
        <tr>
            <th>Numer ID</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Grafika</th>
            <th>Działania</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price.ToString("C2")
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    <img src="/media/products/@item.Image" width="100" alt="" />
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>